/* /////////////////////////////////////////////////// LAYOUT /////////////////////////////////////////////////// */

:root {
  font-size: 1dvmax;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Inter', 'Roboto', Arial, Helvetica, sans-serif;
  text-decoration: none;
  letter-spacing: 0.1rem;
  animation: fadeIn 0.8s ease-in-out;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 0;
  background-color: #1d1d1d;
}

img {
  max-width: 40rem;
  border-radius: 2rem;
  animation: fadeIn 1s ease-in-out;
  margin: 3vh 0;
}

.main-container,
.page-shell {
  display: flex;
  justify-content: center;
  animation: none;
}

.page-shell {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

/* /////////////////////////////////////////////////// SCROLLBAR /////////////////////////////////////////////////// */

body,
body * {
  scrollbar-color: #565656 #dcdcdc;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2rem;
}

/* /////////////////////////////////////////////////// THEME /////////////////////////////////////////////////// */

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 15pt;
  color: rgb(61, 111, 172);
  letter-spacing: 0.2rem;
  word-spacing: 0.3rem;
  margin-top: 5vh;
  text-align: end;
}

h2 {
  font-size: 14pt;
  color: rgb(82, 122, 171);
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
  margin-left: 0.5rem;
}

h3 {
  font-size: 13pt;
  color: rgb(113, 139, 171);
  font-weight: 700;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
}

p,
li,
a,
code,
button,
article,
section {
  color: rgb(185, 208, 237);
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 12pt;
}

button,
.button-li,
.compact-nav-button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 7rem;
  height: 7rem;
  font-size: 12pt;
  color: #fff;
}

button,
#open-btn,
#close-btn,
#demo-button,
#contact-btn,
#info-btn,
.compact-nav-button {
  max-width: 70px;
  max-height: 70px;
}
button {
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
}

#demo-button {
  background-color: rgb(100, 156, 88);
}

#contact-btn,
#info-btn,
#open-btn {
  background-color: rgb(69, 112, 163);
}

#close-btn {
  background-color: rgb(163, 72, 72);
}

.main-container {
  width: 98dvw;
  height: 98dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1d1d1d;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 1),
    inset 0 0 1rem 0.5rem rgba(255, 255, 255, 0.2);
}

.main-container * {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
